body{
    background: url('https://home.byu.edu/webapp/federation/resources/img/body-bg.png') no-repeat scroll center 127px #fff;
    /*background-color: #002040;*/
    margin: 0;
}

.googleSignIn{
    background-image: url('https://home.byu.edu/webapp/federation/resources/img/googlethumbnail.png');
    background-size: 30px 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    /*border: 1px solid #8C889E;*/
    /*background-color: #d50e25;*/
    width: 295px;
    height: 40px;
    cursor: pointer;
    /*color: #8C889E;*/
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0px 1px 1px #8C889E;
}

.facebookSignIn{
    background: url('https://home.byu.edu/webapp/federation/resources/img/facebookthumbnail.png');
    background-size: 34px 34px;
    background-repeat: no-repeat;
    background-color: #2d4485;
    width: 295px;
    height: 40px;
    cursor: pointer;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.ldsSignIn{
    background: url('https://home.byu.edu/webapp/federation/resources/img/keys.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-color: #d2d2d2;
    width: 295px;
    height: 40px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.byuiSignIn{
    color: #ffffff;
    font-size: 14px;
    background-color: #000000;
    width: 295px;
    height: 40px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.byuhSignIn{
    color: #ffffff;
    font-size: 14px;
    background-color: #9E1B34;
    width: 295px;
    height: 40px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}

.welcomeButton{
    border: none;
    position: relative;
    top: 10px;
    border-radius: 6px;
    margin-right: 10px;
    color: #fff;
    display: block;
    background: transparent;
    padding: 4px 28px;
    float: right;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease-in-out .25s;
    -moz-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
    height: 41px;
    line-height: 41px;
}

.welcomeButton:hover {
    background: #336699;
}

#username-welcome p {
    border: none;
    position: relative;
    top: -21px;
    margin-right: 10px;
    color: #fff;
    display: block;
    background: transparent;
    padding: 4px 28px;
    float: right;
    text-decoration: none;
}